
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/springsecurity6">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        
       
        
        
        
    <title>MTSS</title>
    
  
<body>
      
    <header class="con">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">MTSS</h2>
                <h5 class="nav__items" sec:authorize="isAuthenticated()"><pre>Sesion iniciada como <strong><span sec:authentication="name"></span></strong></pre></h5>
            </div>

            
            
            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a  th:href="@{/encontrar/encuentranos}"  class="nav__links">ENCUENTRANOS</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
                    <a  th:href="@{/factura/listado}"  class="nav__links">FACTURAS</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
                    <a th:href="@{/empleado/listado}" class="nav__links">EMPLEADOS</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
                    <a th:href="@{/contacto/listado}" class="nav__links">REPORTES</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
                    <a th:href="@{/queja/listado}" class="nav__links">QUEJAS</a>
                </li>
                <li class="nav__items" >
                    <a th:href="@{/queja/quejarse}" class="nav__links">QUEJAS Y SUGERENCIAS</a>
                </li>       
                
                
                <li class="nav__items" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="nav__links">LOGIN</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
     
                    <form method="post" th:action="@{/logout}">
                        <button type="submit"
                                class="btn" >
                            <div class="boton_logout">
                                
                            <i class="boton_logout">LOGOUT</i>
                          
                            </div>

                        </button>
                    </form>    

                </li>
                
                
                

                <img src="" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="" class="nav__img">
            </div>
        </nav>

        <section class="con_hero container">
            <h1 class="con_title">Ministerio de Trabajo y Seguridad Social</h1>
            <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est enim ea delectus vero eligendi consectetur magnam consequuntur aut? Aliquid eius assumenda totam? Eius dolor sapiente cum perferendis sed sequi iure!</p>
            
        </section>
        
    </header>

    <main>
        <section class="preguntas container">
            <h2 class="subtitulo">Valores que se practican </h2>
            
            <div class="menu">
                <article class="iconos">
                  
                        <img src="/css/img4.jpg" class="about__icon" />
                        
                    <h3 class="titulo">HONESTIDAD</h3>
                    <p class="sobre_parrafos">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>

                <article class="iconos">
                    <img src="/css/img6.png" class="about__icon">
                    <h3 class="titulo">RESPETO</h3>
                    <p class="sobre_parrafos">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>

                <article class="iconos">
                    <img src="/css/img5.png" class="about__icon">
                    <h3 class="titulo">TRABAJO EN EQUIPO</h3>
                    <p class="sobre_parrafos">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>
            </div>
        </section>

     

        <section class="preguntas container">
            <h2 class="subtitulo" >Edificio Central MTSS</h2>

            
            <img class="es" src="/css/img1.jpg" alt=""/>
            </div>
        </section>

       

        <section class="preguntas container">
            <h2 class="subtitulo">Preguntas frecuentes</h2>
            <p class="preguntas__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, porro
                doloribus neque perspiciatis sapiente fuga.</p>

            <section class="preguntas__c">
                <article class="preguntas__p">
                    <div class="preguntas__an">
                        <h3 class="titulo_preguntas">¿Caundo caducan las facturas?
                            <span class="flecha">
                                
                            </span>
                        </h3>

                        <p class="mostrar_respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                            facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                            eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                            nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                            quam atque?</p>
                    </div>
                </article>

                <article class="preguntas__p">
                    <div class="preguntas__an">
                        <h3 class="titulo_preguntas">¿Caundo son lo cierres fiscales?
                            <span class="flecha">
                               
                            </span>
                        </h3>

                        <p class="mostrar_respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                            facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                            eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                            nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                            quam atque?</p>
                    </div>
                </article>

                <article class="preguntas__p">
                    <div class="preguntas__an">
                        <h3 class="titulo_preguntas">¿Como es la jerarquia en el departamento?
                            <span class="flecha">
                              
                                
                            </span>
                        </h3>

                        <p class="mostrar_respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                            facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                            eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                            nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                            quam atque?</p>
                    </div>
                </article>
            </section>

            
        </section>
    </main>

    <footer class="nav_general">
        <section class="footer__container container ">
            <nav class="nav nav--footer">
                

                <ul class="nav__link nav__link--footer">
                    
                    <li class="nav__items">
                        <h3 class="nav__links">MTTS</h3>
                    </li>
                    <li class="nav__items" sec:authorize="isAuthenticated()">
                    <a  th:href="@{/factura/listado}"  class="nav__links">FACTURAS</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
                    <a th:href="@{/empleado/listado}" class="nav__links">EMPLEADOS</a>
                </li>
                <li class="nav__items" >
                    <a th:href="@{/contacto/contactar}" class="nav__links">CONTACTO</a>
                </li>   
                <li class="nav__items" >
                    <a th:href="@{/queja/quejarse}" class="nav__links">QUEJAS Y SUGERENCIAS</a>
                </li>
                <li class="nav__items">
                    <a  th:href="@{/encontrar/encuentranos}"  class="nav__links">ENCUENTRANOS</a>
                </li>   
                
                <li class="nav__items" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="nav__links">LOGIN</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
     
                    <form method="post" th:action="@{/logout}">
                        <button type="submit"
                                class="btn" >
                            <div class="boton_logout">
                                
                            <i class="boton_logout">LOGOUT</i>
                          
                            </div>

                        </button>
                    </form>    

                </li>
                
                </ul>
                
            </nav>

           
        </section>

        <section class="foter container">

            
            <h3 class="lead text-center derechos lenguajes">
                &COPY [[#{plantilla.derechos}]]  <a th:href="@{/(lang=es)}" class="nav__links">ES</a> <a th:href="@{/(lang=en)}" class="nav__links">EN</a>
                    
                    </h3>
        </section>
    </footer>
   
     
    
    
</body>
    <script src="/css/js/preguntas.js" type="text/javascript"></script>
    <script src="/css/js/menu.js" type="text/javascript"></script>
        

</html>
