<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link href="../../static/css/style.css" rel="stylesheet" type="text/css"/>

    </head>
  <header th:fragment="header" class="con_plantilla">
            <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">MTSS</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                
                <li class="nav__items account_nav">
                    
                        <a href="#" class="nav__links account_nav">
                        <p>Login</p> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentcolor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                      <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                     
                    </svg>
       
                    </a>
                        
     
                </li>
                
                <li class="nav__items">
                    <a href="#" class="nav__links">FACTURAS</a>
                </li>
                <li class="nav__items">
                    <a href="empleado" class="nav__links">EMPLEADOS</a>
                </li>
                
                <li class="nav__items">
                    <a href="#" class="nav__links">HOME</a>
                </li>
                
             

                <img src="./images/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="./images/menu.svg" class="nav__img">
            </div>
        </nav>

        
        </header> 
    
    
    <footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        &COPY [[#{plantilla.derechos}]]  <a th:href="@{/(lang=es)}">ES</a> <a th:href="@{/(lang=en)}">EN</a>
                    <form method="POST" th:action="@{/logout}" style="display:inline">
                        <a href="#" onclick="this.parentNode.submit();">Logout</a>
                        
                    </form>
                    </p>
                </div>
            </div>
        </footer>

        
</body>
</html>
