<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>MTTS</title>
        <meta charset="UTF-8"/>
        <link href="/css/styleTable.css" rel="stylesheet" type="text/css"/>
    </head>
    <body >


        <!-- 2 Fragmento para agregar factura, es la ventana modal -->
        <section th:fragment="agregarFactura">
            <div id="agregarFactura" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Factura</h5>
                            <button type="button" 
                                    class="btn-close" 
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/factura/guardar}" th:object="${factura}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Detalles</label>
                                    <input type="text" class="form-control" name="detalles" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="apellidos">Monto</label>
                                    <input type="text" class="form-control" name="monto" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="activo">Estado</label>
                                    <input type="checkbox" class="form-control" name="activo" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="email">Correo</label>
                                    <input type="email" class="form-control" name="tipo" required="true">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                                <button class="btn btn-secondary" type="submit" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informacion de la entidad factura -->
        <section th:fragment="listadoFacturas" id="facturas">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">

                                <h4 class="text-center mb-5">Listado de Facturas</h4>
                                <div class="text-center mb-5">
                                    <button  th:fragment="botonesAgregar" 
                                             type="button" 
                                             class="btn btn-primary btn-block nav_general border-0" 
                                             data-bs-toggle="modal" 
                                             data-bs-target="#agregarFactura">
                                        <i class="fa fa-list-alt"></i> Agregar Factura
                                    </button>
                                </div>

                            </div>
                            <div class="table-responsive" th:if="${facturas != null and !facturas.empty}">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr><th># Factura</th>
                                            <th>Detalles</th>
                                            <th>Monto</th>
                                            <th>Tipo</th>
                                            <th>Estado</th>
                                            <th>Eliminar</th>
                                            <th>Modificar</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="factura: ${facturas}">
                                            <td>[[${factura.idFactura}]]</td>
                                            <td>[[${factura.detalles}]]</td>
                                            <td>[[${factura.monto}]]</td>
                                            <td>[[${factura.tipo}]]</td>
                                            <td><input type="checkbox" th:checked="${factura.activo}"></td>



                                            <td >
                                                <a th:href="@{/factura/eliminar/}+${factura.idFactura}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/factura/modificar/}+${factura.idFactura}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                            <div class="text-center p-2" th:if="${facturas == null or facturas.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarFactura">
            <div class="row">
                <div class="col-md-14">
                    <form method="POST"
                          th:action="@{/factura/guardar}" th:object="${factura}"
                          class="was-validated">
                        <input type="hidden" name="idFactura" th:field="*{idFactura}"/>
                        <section th:replace="~{factura/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">detalles</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{detalles}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="apellidos">Monto</label>
                                                    <input type="text" class="form-control" 
                                                           name="apellidos" th:field="*{monto}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email">Correo</label>
                                                    <input type="text" class="form-control" 
                                                           name="correo" th:field="*{tipo}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">Activo</label>
                                                    <input type="checkbox" 
                                                           name="activo" th:field="*{activo}">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/factura/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/factura/eliminar/}+${factura.idFactura}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>

        </section>
        
        <section th:fragment="listadoFacturas" >
            <div class="mb-34">
                s
            </div>
        </section>


      
        
    </body>
    
    <footer  th:replace="~{layout/plantilla :: footer}"/>

</html>


