<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/springsecurity6">


    <head th:fragment="head">
        <title>MTSS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <link href="/css/style.css" rel="stylesheet" type="text/css"/>






    </head>


    <header th:fragment="header" class="header">

        <nav class="navbar navbar-expand-lg navbar navbar-dark nav_general p-4">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">MTTS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
               
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/factura/listado}">Facturas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/empleado/listado}">Empleados</a>
                        </li>
                        <li class="nav__items" sec:authorize="isAuthenticated()">
                            <a class="nav-link active" aria-current="page" th:href="@{/contacto/listado}" >Reportes</a>
                        </li>
                       
      
                    </ul>

                </div>
                <div class="text-white">
                    <i class="fa-solid fa-lock"></i> Administrador:
                    <strong> <span sec:authentication="name"></span></strong>
  
                </div>
            </div>
        </nav>



    </header> 


    <footer class="nav_general footer_space">
        <section class="footer__container container ">
            <nav class="nav nav--footer">
                

                <ul class="nav__link nav__link--footer">
                    
                    <li class="nav__items">
                        <h3 class="nav__links">MTTS</h3>
                    </li>
                    <li class="nav__items" sec:authorize="isAuthenticated()">
                    <a  th:href="@{/factura/listado}"  class="nav__links">FACTURAS</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
                    <a th:href="@{/empleado/listado}" class="nav__links">EMPLEADOS</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
                  <a th:href="@{/contacto/listado}" class="nav__links">REPORTES</a>
                </li>
                
                <li class="nav__items" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="nav__links">LOGIN</a>
                </li>
                <li class="nav__items" sec:authorize="isAuthenticated()">
     
                    <form method="post" th:action="@{/logout}">
                        <button type="submit"
                                class="btn" >
                            <div class="boton_logout">
                                
                            <i class="boton_logout">LOGOUT</i>
                          
                            </div>

                        </button>
                    </form>    

                </li>
                <li class="nav__items" >
                    <a th:href="@{/}" class="nav__links">HOME</a>
                </li>
                </ul>
                
            </nav>

           
        </section>

        <section class="foter container">

            
            <h3 class="lead text-center derechos lenguajes">
                &COPY [[#{plantilla.derechos}]]  <a th:href="@{/(lang=es)}" class="nav__links">ES</a> <a th:href="@{/(lang=en)}" class="nav__links">EN</a>
                    
                    </h3>
        </section>
    </footer>


</html>
