<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/springsecurity6">
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>MTTS</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
       
       <header>

           <nav class="nav_general p-4">
            <ul class="nav justify-content-center">
            <li class="text-white ">
                <h3>Contactar con nosotros</h3>
            </li>
            
</ul>
               </nav>

            
       



    </header> 
        <div class="my-4">
            <div class="contacto_container">
                
                <div class="col-md-4 contacto">
                    <div class="card bg-light mb-3">
                        <div class="card-header color_secundario">
                            <h2 class="text-white text-center">Contacto</h2>
                        </div>
                        <div class="card-body">
                            <form method="POST" th:action="@{/contacto/guardar}" th:object="${contacto}">
                                <div class="form-group row my-3">
                                   
                                    <label class="col-md-5 my-auto"
                                           for="nombre">
                                       
                                        
                                        Nombre:</label>
                                    <div class="col-md-7 my-auto">
                                        <input class="form-control" 
                                               type="text"
                                               name="nombre"
                                               id="Nombre"/>
                                    </div>
                                    <label class="col-md-5 my-auto"
                                           for="primerApellido">
                                     
                                        
                                        Primer Apellido:</label>
                                    <div class="col-md-7 my-auto">
                                        <input class="form-control" 
                                               type="text"
                                               name="primerApellido"
                                               id="primerApellido"/>
                                    </div>
                                    <label class="col-md-5 my-auto"
                                           for="segundoApellido">
                                     
                                        
                                        Segundo Apellido:</label>
                                    <div class="col-md-7 my-auto">
                                        <input class="form-control" 
                                               type="text"
                                               name="segundoApellido"
                                               id="segundoApellido"/>
                                    </div>
                                    <label class="col-md-5 my-auto"
                                           for="correo">
                                      
                                        
                                        Correo:</label>
                                    <div class="col-md-7 my-auto">
                                        <input class="form-control" 
                                               type="text"
                                               name="correo"
                                               id="correo"/>
                                    </div>
                                    <label class="col-md-5 my-auto"
                                           for="telefono">
                                  
                                        
                                        Telefono:</label>
                                    <div class="col-md-7 my-auto">
                                        <input class="form-control" 
                                               type="text"
                                               name="telefono"
                                               id="telefono"/>
                                    </div>
                                    <label class="col-md-5 my-auto"
                                           for="info">
                                       
                                        
                                        Informacion:</label>
                                    <div class="col-md-7 my-auto">
                                        <textarea class="form-control" id="info" name="info" rows="5" cols="10"></textarea>                        
                                    </div>
                                    
                                    
                                   
                                </div>
                                <div class="col text-center">
                                    <button class="btn color_secundario text-white"
                                            type="submit">
                                        Contactar
                                        <i class="fas fa-sign-in-alt"></i>
                                        
                                    </button>
                                </div>

           
                                <div class="my-5 p-2 text-center">
                                    <a th:href="@{/}" class="text-white color_secundario p-3 nav__links border-3 rounded-3" >Pagina Principal</a>
                                </div>
       
       

                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        

      
    </body>

</html>
