<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>MTTS</title>
       
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="/css/styleTable.css" rel="stylesheet" type="text/css"/>
        
    </head>

    <body>

        <header th:replace="~{layout/plantilla :: header}"/>
        <section id="empleados">
            <div class="text-dark my-4 contenedor_titulo ">
                <h1 class="text-center color_secundario titulo_reportes text-white rounded-4">Contacto de los empleados</h1>
            </div>
            <div class="table-responsive margen_footer">
            <table class="table table-hover">
                <thead class="nav_general text-white">
                    <tr>
                        <th>#Reporte</th>
                        <th>Telefono</th>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Correo</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contacto: ${contactos}">
                                            <td>[[${contacto.idContacto}]]</td>
                                            <td>[[${contacto.telefono}]]</td>
                                            <td>[[${contacto.nombre}]]</td>
                                            <td>[[${contacto.primerApellido}]]</td>
                                            <td>[[${contacto.segundoApellido}]]</td>
                                            <td>[[${contacto.correo}]]</td>
                                            <td>[[${contacto.info}]]</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </section>


    </body>
    
    <footer th:replace="~{layout/plantilla :: footer}" >

    </footer>
</html>
